//
   Created by osi on 16. 3. 11.
head
  title Microscope

body
  .container
    header.navbar.navbar-default(role="navigation")
      .navar-header
        a.navbar-brand(href='/') Microscope
    #main.row-fluid
      +postList