//
  Created by osi on 16. 3. 11.
template(name='postItem')
  .post
    .post-content
      h3
        a(href='{{url}}') {{title}}
        span {{domain}}
      p
        if author
          submitted by {{author}}
        else
          submitted unknown

        if ownPost
          a(href="{{pathFor 'postEdit'}}") Edit
    a.discuss.btn.btn-default(href="{{pathFor 'postPage'}}") Discuss
